body{
	background-color: #1b2f32;
	font-family:'Roboto', Tahoma, Helvetica, Sans-Serif;
	font-size: 17px;
	line-height:1.6em;
	margin:0;
	color:#fff;
}

.logo img{
	width:400px;
	margin-left:1rem;
	margin-top:1rem;
	justify-content:center;
}

.clr_flt{
	float:none;
}

.container{
	width:70%;
	margin:auto;
	overflow:hidden;
}


#main-header{
	background-color:#1e7034;
	padding-top:20px;
	padding-bottom:0px;
}

#navbar{
	background-color:#1e7034;
}

#navbar ul{
	display:flex;
	list-style:none;
	padding:0;
	justify-content:center;
}

#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:17px;
	padding:5px 5px;
	margin:2px 1em;
}

/*
#home-link{
	background-color:#edf2ef;
	color:#0c0d0d;
}
*/

#navbar a:hover {
	color:#212F3C;
}

#navbar a:active {
	color:#212F3C;
}

.large{
	font-family:'Montserrat', Sans-Serif;
	font-size:50px;
	line-height: 1.2em;
	text-align:center;
}


@media (min-width:1301px){
	.container-query{
		background-color:#1e7034;
		display:flex;
		justify-content:space-around;
	}

	#main-header{
		border-bottom:0px;
		padding:0;
	}

	#nav_list li{
		align-items:center;
		padding:0.75em 1em;
		font-size:20px;
	}
}


.current-page{
	border-bottom:2px solid #ffffff;
}

#navbar .current-page:hover{
	color:#ffffff;
}


@media (max-width:1300px){
	.container-query{
		background-color:#1e7034;
	}

	.logo{
		display:flex;
		justify-content:center;
		margin-bottom: 2rem;
	}

	.container{
		width:80%;
	}
	

	.info p{
		text-align:center;
	}

	#main-header .logo img{
		float:center;
	}

}

.large_2{
    font-family:'Montserrat', Sans-Serif;
	font-size:30px;
	line-height: 1.2em;
    text-align:center;
}

.columns{
    display:flex;
}

.group_pic{
    width:90%;
}

.columns_3{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    margin: 75px 0;
}

#first img{
	height:100px;
	width:auto;
}

