body{
	background-image: linear-gradient(#101410, #172422, #1b2f32);
	font-family:'Roboto', Tahoma, Helvetica, Sans-Serif;
	font-size: 17px;
	line-height:1.6em;
	margin:0;
	color:#fff;
}

.logo img{
	width:400px;
	margin-left:1rem;
	margin-top:1rem;
}

.clr_flt{
	float:none;
}

.container{
	width:70%;
	margin:auto;
	overflow:hidden;
}


#main-header{
	background-color:#1e7034;
	padding-top:20px;
	padding-bottom:0px;
	border-bottom:#fff dashed 4px;
}

#navbar{
	background-color:#1e7034;
}

#navbar ul{
	display:flex;
	list-style:none;
	padding:0;
	justify-content:center;
}

#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:17px;
	padding:5px 15px;
	margin:2px 1em;
}

/*
#home-link{
	background-color:#edf2ef;
	color:#0c0d0d;
}
*/

a:hover{
	background-color:#212F3C;
}

a:active{
	background-color:#212F3C;
	color:#2E86C1;
}

#home{
	margin-top:20px;
	color:#fff;
	padding:20px;
	margin-bottom:45%;
	line-height:2em;
}

#home .info{
	box-sizing:border-box;
	font-size:25px;
	width:80%; 
	line-height:1.5em;
}

.large{
	font-family:'Montserrat', Sans-Serif;
	font-size:50px;
	line-height: 1.2em;
	text-align:center;
}


#home-picture img{
	width:80%;
	border: 10px solid #ffffff;
	border-radius:25px;
}

.columns{
	display: flex;
	align-items:center;
	justify-content:space-between;
}

@media (max-width:1300px){
	.columns{
		flex-direction: column;
	}
	.info h1{
		text-align:center;
	}
	.info{
		width:100%;
	}
	#home-picture{
		text-align:center;
	}
}

.head{
	font-size:2rem;
	text-align:center;
	font-family:'Montserrat', Sans-Serif, Tahoma, Times;
}


#curriculum-list li{
	font-size:1.2rem;
}

.disclaimer{
	color:#777778;
	opacity:0.7;
	letter-spacing:0.05em;
}

#title{
	text-align:right;
}

.columns_2{
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
}

#team_logo{
	width:45%;
}

#team_picture{
	width:55%;
}

#logo{
	width:50%;
	padding-left:0;
	margin-left:25%;
}

#awtybots_team{
	width:800px;
}

.italics{
	font-style: italic;
}

.team-subtitle{
	color:#777777;
	text-align:center;
	opacity:0.7;
	margin:5px 0;
}





